.place__like_active {
  background: url(../../../../images/place__like_active.svg) no-repeat center / cover;
  width: 22px;
  height: 19px;
  align-self: center;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: opacity .1s;
}

.place__like_active:hover {
  opacity: .5;
}
